.container-login{
   
     width: 100%;
    height: 100% !important; 
/*  
    border: 1px solid black; */
    /* margin-left: 40px; */
}
.cardbox{
    display: flex;
    flex-direction: row-reverse;
}


.leftside-login{
   /* border: 2px solid black; */
    width: 70%;
    height: 890px;
    
    /* text-align: center; */
    margin-left: 50px;
    overflow-x: auto;
    margin-top: 7%;
    /* background-color: #1976D2; */

}

.rightsideimg-login{
    /* background-color: #1976d2; */
    /* border: 3px solid black; */
    /* width: 50%; */
    /* height: 890px; */
    /* width: 50%;
    height: 100%; */
}

.rightsideimgtag{
    /* object-fit:cover ; */
    /* height: 80%; */
  
}
.forgot-password{
    margin-left: 50px !important;    
}

.imageConatiner{
    /* border: 0px solid green; */
    height: 95vh !important;
    /* object-fit:none; */
    width: 80%;
    /* object-fit: fill; */
    display: flex;
    background-color: #045CD1;
}
.purpleColor{
color : rgb(9, 116, 238) !important;
cursor: pointer;
font-size: large;
}
.display-block{
    display: block;
    width: 100%;
    display: flex;
    height: 100px;
    margin-left: 20px;
}
.heading{
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 10px;
    font-size: xx-large;
   
}
.sub-heading{
    margin-left: 20px;
    color: white;
    padding: 10px;
    font-size: x-large;

}
.image{
    height: 60%;
    /* width: 100%; */
    padding: 10px;
    margin-top: 60px;
}

.css-1ga5tyb-MuiTypography-root{
    margin-left: 3% !important;
}
.css-kz9dsu-MuiTypography-root{
    margin-left: 3% !important;

}
.increase-margin1{
    margin-top: 1% !important;
    margin-left: 400px !important;
}

.increase-margin{
    margin-top: 30%;
    margin-left: 50% !important; 
}
.increase-width{
    width: 300% !important;
}

.input{
    
    height: 60px;
    margin: 20px;
}
.forgot-password{
    /* margin-left: 10px; */
    margin-right: 5% !important;
}

.forgot{
    text-align: right;
    /* margin-right: 10% !important; */
    /* margin-left: 50.3%; */
}

.login-title{
    font-size: xx-large;
    margin-left: 150px;
    text-align: left;
}

.description{
    font-size: x-large;
    margin-left: 150px;
    color: grey;
    text-align: left;

}

.button-placement-login{
    margin-top: 0% !important;
    height: 6%;
    margin-left: 14.8% !important;
    margin-right: 0% ;
    width: 79% !important;
}